.md-overlay.md-show
  .md-modal.md-show
    .md-content
      .holidays-modal
        %form{action: ""}
          %header
            %h3 Request holidays
          .data-wrapper
            .holidays-data-wrapper
              %h4 Holidays data
              .input
                %textarea{name: "", cols: "30", rows: "10", placeholder: 'Comments...'}
            .calendar-wrapper
              %h4 Calendar
              #calendar.calendar
          .actions
            %button.btn{type: 'submit'}
              Create request
