// - - - - - - - - - - - - - - - - - - -
// - - settings
// @font-face declarations, variables

// - - - - - - - - - - - - - - - - - - -
// - - @font-face
// add fonts to project as needed by updating the $fonts map below in the following format -
// 'font-family-name': 'font-weight'

// $fonts: (
//   'font-family-one': ('font-one-light', 'font-one-dark'),
//   'font-family-two': ('font-two-light','font-two-medium')
// );

// @each $font-family, $font-weights in $fonts {
//   @each $font-weight in $font-weights {
//     @font-face {
//       name: $font-weight;
//       src:
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.eot?#iefix') format('embedded-opentype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.woff') format('woff'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.ttf') format('truetype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.svg##{$font-weight}') format('svg');
//     }
//   }
// }

// - - - - - - - - - - - - - - - - - - -
// - - variables
$base-border-radius: 5px
$base-input-padding: .7em
$vendors: webkit moz spec
$modal-padding: 3rem

// - - colors
$main-dark:           #363B4A
$red:                 #E9573F
$light-red:           #FC6E51
$green:               #8CC152
$light-green:         #A0D468
$blue:                #3BAFDA
$light-blue:          #4FC1E9
$dark-blue:           darken($blue, 15)
$gray:                #C7C7C7
$light-gray:          lighten($gray, 15)
$dark-gray:           darken($gray, 15)
$white:               #FFFFFF

$primary-color: darken($dark-gray, 20)

// - - typography
$base-font-family:    'Open Sans', sans-serif

// - - grid

// - - animations
+keyframes(fadeIn)
  from
    +transform(scale(0))
    opacity: 0
  to
    +transform(scale(1))
    opacity: 1

+keyframes(slideOutLeft)
  from
    opacity: 1
    +transform(translate3d(0,0,0))
  to
    visibility: hidden
    opacity: 0
    +transform(translate3d(-100%,0,0))

+keyframes(opacity)
  from
    opacity: 0
  to
    opacity: 1

