#main_nav
  +clearfix
  background: #222
  padding: .3em 2em
  position: relative

  .logo
    width: 100px

  .logo-link
    +transform(translateY(-50%))
    display: inline-block
    position: absolute
    left: 2em
    top: 50%
    width: 100px
    height: 47px
    background: image-url('logo-white.png') center center
    background-size: cover

  .nav
    +display(table)
    float: right
    +inline-list
    > li
      +display(table-cell)
      vertical-align: middle
      position: relative

      &:not(:first-of-type)
        padding-left: 2em

      img
        vertical-align: middle
        margin: .7em 0

      .dropdown
        +transition
        +unstyled-list
        position: absolute
        top: 100%
        right: 0
        list-style: none
        max-height: 0
        overflow: hidden
        width: 12em
        z-index: 999

        li
          background: #222
          +fill-parent

          a
            +link($light-gray, #fff, 1em, 3em)
            display: block
            text-decoration: none
            padding: 0 1em

      &.active
        .dropdown
          max-height: 400px

  .avatar
    border-radius: 50%
    height: 40px
    width: 40px
    vertical-align: middle

  .days-left-wrapper
    text-align: center
    min-width: 5em

    .days-left
      color: #fff
      line-height: 1em
      vertical-align: middle

      strong
        font-size: 2.5em
        display: inline-block

      small
        font-size: .8rem
        display: inline-block
        line-height: 1.2em
        text-align: left
