#main_wrapper
  > aside
    background: $main-dark

    ul
      +unstyled-list

    li
      text-align: center
      border-bottom: 1px solid darken($main-dark, 5)

      a
        +link($blue)
        display: block
        padding: 2em 0


      .fa
        display: block
        font-size: 2.5em
        margin-bottom: .3em
