.modal
  .data-wrapper
    +clearfix
    margin-bottom: 2em

  .holidays-data-wrapper, .calendar-wrapper
    +clearfix
    display: block
    clear: both
    margin-bottom: 2em

  .calendar
    +fill-parent
    margin-bottom: 1em
    min-height: 350px

  textarea
    +fill-parent
    width: 100%

  .actions
    +clearfix
    background: $light-gray
    text-align: center
    margin: 0 (-$modal-padding) (-$modal-padding) (-$modal-padding)
    padding: $modal-padding

    a, button
      display: inline-block

    a
      float: left
      line-height: 3em
    button
      float: right
