.holidays-modal

  .data-wrapper
    +clearfix
    margin-bottom: 2em

  .holidays-data-wrapper, .calendar-wrapper
    +span-columns(6)

  .calendar-wrapper
    +omega

  .calendar
    background: $light-gray
    height: 300px
    width: 100%

  .actions
    text-align: center


