.public_calendar.index
  #public_calendar_wrapper
    +clearfix

    .calendar
      width: 100%

      > div.week
        > .day
          height: 100px
          position: relative

          .day-number
            position: absolute
            top: 1em
            right: 1em
            line-height: 1em
          text-align: left
          padding: 3em 1em 1em 1em
        &.names
          > .day
            height: auto
            +padding(1.5em 0)
            text-align: center

        .avatar
          width: 30px
          height: 30px



