%aside
  %nav
    %ul
      %li
        %a{href: ""}
          = fa_icon 'users'
          Team
      %li
        %a{href: ""}
          = fa_icon 'calendar'
          Global
      %li
        %a{href: ""}
          = fa_icon 'envelope-o'
          Inbox
      %li
        %a{href: ""}
          = fa_icon 'cog'
          Settings
